.env
.idea/*
/node_modules
/public/storage
data
Homestead.json
Homestead.yaml
storage/database.sqlite
/vendor

/.phpunit.cache
/nbproject/private/

# Plugin system
/public/plugins/*/
/bootstrap/cache/plugins.php
/storage/plugins/
*.plugin.cache

